/* UTILS */
*{
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
    font-family: 'Poppins', sans-serif, Arial;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    padding-left: 20px;
}


main {
    width: 80%;
    margin: auto; 
}


/* HEADER */
header > img {
    vertical-align: middle;
}

.logo_text  {
    font-weight: 900;
    font-size: 2.5em;
    color: #031732;
    vertical-align: middle;
    line-height: 100px;
    display: inline;
}


/* CONTAINERS */
.buttons_container, .tasks_container {
    padding: 20px 50px;
}

.buttons_container {
    margin-top: 30px;
    border-bottom: #f6f8f9 solid 3px;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tasks_container{
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 20px;
}


  /* BUTTONS CSS */
.add_task, .add_section {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.add_task {
    background-color: #14aaf5;
    color: #ffffff;
    border: #14aaf5 solid 1.5px;
}

.add_section {
    background-color: #ffffff;
    border: #c1ced0 solid 1.5px;
    color: #c1ced0;
}


/* SECTIONS */
.section_header {
    display: inline-block;
}

.section_header:before {
    content: '\25BC ';
}
